{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "singleQuote": true,
                "semi": true,
                "tabWidth": 2,
                "useTabs": false,
                "parser": "scss",
                "trailingComma": "none",
                "endOfLine": "lf"
            }
        }
    ]
}